{% extends 'base.html.twig' %}

{% block body %}

    <h1>Game</h1>

    {% if not game.players.isEmpty %}
        <h2>Players :</h2>
        <ul>
            {%  for player in game.players %}
                <li>{{ player.name }} : {{ player.hand.count }}</li>
                {% if player == app.user %}
                    {% for card in player.hand %}
                        <li style="display: inline-block; background-color: {{ card.color|default('black') }}" >
                            <a href="{{ path('play_card', {'id': game.id, 'card_id': card.id }) }}">{{ card.number|default('bonus') }}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}


    {# @ TODO: hide all drawPile cards + onclick player pick a card #}
    <h2>Draw Pile</h2>
    <p>Number of cards : {{ game.drawPile.cards.count }}</p>
    <ul>
        {% for card in game.drawPile.cards %}
            {% if card.number is defined %}
                <li style="display: inline-block; background-color: {{ card.color }}" >{{ card.number }}</li>
            {% elseif card.bonusType is defined %}
                <li style="display: inline-block; background-color: black; color:white" >{{ card.bonusType }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>Discard Pile</h2>
    <p>Number of cards : {{ game.discardPile.cards.count }}</p>
    <ul>
        {# Show only the first card #}
        {% set card = game.discardPile.cards.first %}
        {% if card is defined %}
            {% if card.number is defined %}
                <li style="display: inline-block; background-color: {{ card.color }}" >{{ card.number }}</li>
            {% elseif card.bonusType is defined %}
                <li style="display: inline-block; background-color: black; color:white" >{{ card.bonusType }}</li>
            {% endif %}
        {% endif %}
    </ul>

    <hr>
    {% if game.new %}
        <a href="{{ path('get_game_start', { 'id': game.id }) }}">Start the game!</a>
    {% endif %}
        <a href="{{ path('game_over', { 'id': game.id }) }}">End game</a>
{% endblock %}

