{% extends 'base.html.twig' %}

{% block body %}
    <h1>Draw Pile</h1>
    <h2>Shuffled pile:</h2>
    {{ dump(drawPile) }}
    <h2>Draw a card :</h2>
    {{ dump(drawPile.draw) }}
    <h2>Draw another card :</h2>
    {{ dump(drawPile.draw) }}
    <h2>Pile without 2 drawn cards :</h2>
    {{ dump(drawPile) }}
    <h1>Discard Pile</h1>
    {{ dump(discarPile) }}
{% endblock %}

